body {
  background-color: #89b594;
  text-size-adjust: auto;
}
.bg2{
  background-color:#d8e5e5;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  height: 1000px; 
}
.about-me{
  border-bottom-style: double;
  border-color:#445a4a;
  margin: 2px;
}
.main-content{
  border-color: #000;
  border-style: double;
  margin: 10px;
  padding: 10px;
  height: 880px;
  overflow: auto;
  
}

.left{
  float: left;
  padding: 10px;
  margin-left: 10px;
  width: 30%;
  height: 880px;
  overflow: auto;
}

img {
    display: block;
    margin: auto;  
}
h1 {
  font-size: 75px;
  font-family: Audiowide;
  font-color: #5f7e67;
  text-align: center;
  text-decoration: bold;
  background-color: white;
  border-color: black;
  border-bottom-style: dashed;
  border-top-style: dashed;
  text-size-adjust: auto;
}
h2 {
  font-size: 25px;
  font-family:Atma;
  font-color: #5f7e67;
  text-align: center;
  text-decoration: underline;
  background-color: white;
  border-bottom-style: dashed;
  border-color: black;
  text-size-adjust: auto;
}
h3 {
font-size: 15px;
  font-family:Atma;
  font-color: #5f7e67;
  text-align: center;
  text-decoration: underline;
  text-size-adjust: auto;
}
p {
  font-family: Atma;
  font-size: 15pt;
  
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}
